UseTab: Always
IndentWidth: 4
TabWidth: 4

PointerAlignment: Left
DerivePointerAlignment: false

ColumnLimit: 145

NamespaceIndentation: All

IndentCaseLabels: true

ConstructorInitializerAllOnOneLineOrOnePerLine: true

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

BreakBeforeBraces: Attach

SpacesInSquareBrackets: false

Cpp11BracedListStyle: true

AllowAllParametersOfDeclarationOnNextLine: true

BasedOnStyle: Google
